<div style="height: 100vh;">
  <!-- color="primary" -->
  <mat-toolbar>
    <div style="display: flex;">
      <img class="app-logo" src="assets/logo@2x.png" alt="App Logo" />
    </div>

    <span class="example-spacer"></span>

    <div class="header-menu" fxShow="true" fxHide.lt-md="true">
      <a href="javascript:" mat-button>Products</a>
      <a href="javascript:" mat-button>Solutions</a>
      <a href="javascript:" mat-button>Pricing</a>
      <a href="javascript:" mat-button class="login-btn">Login</a>
      <a href="javascript:" mat-button class="get-started-btn">Get started</a>
    </div>

    <div fxShow="true" fxHide.gt-sm="true">
      <a href="javascript:" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a class="menu-option-close" (click)="sidenav.toggle()" href="javascript:" mat-button>
          <mat-icon>close</mat-icon>
        </a>
        <a class="menu-option" href="javascript:" mat-button>Products</a>
        <a class="menu-option" href="javascript:" mat-button>Solutions</a>
        <a class="menu-option" href="javascript:" mat-button>Pricing</a>
        <div class="menu-option" style="text-align:center">
          <a href="javascript:" mat-button class="login-btn">Login</a>
          <a href="javascript:" mat-button class="get-started-btn">Get started</a>
        </div>
      </div>
    </mat-sidenav>


    <mat-sidenav-content fxFlexFill>
      <!-- <img class="big-circle" src="assets/circle@2x.png" alt="big-circle" />
      <img class="small-circle" src="assets/circle@2x.png" alt="small-circle" /> -->

      <img class="big-circle" src="assets/blob-small.svg" alt="big-circle" />
      <div>
        <div class="text-msg">We make it Super Simple
          <div class="black-line"></div>
        </div>

        <img class="small-circle" src="assets/blob-small.svg" alt="small-circle" />

        <img class="hand-shake-pic" src="assets/collect_img-video@2x.png" alt="hand-shake-pic" />
        <img class="dots-img" src="assets/accounting_dots.svg" alt="dots" />
      </div>

      <div class="form">
        <div class="outer-div">
          <div class="eligibility-calculator">
            <label class="title">Eligibility Calculator</label>
            <form>
              <div class="container">
                <label class="main-label">Monthly Income</label>
                <label style="font-size: 20px; margin: 10px 0 -10px;">
                  {{monthlyIncome | currencyWithoutDecimal}}
                </label>
                <mat-slider color="primary" min="100000" max="300000" step="10000" tickInterval="10000"
                  aria-label="unit(s)" name="monthlyIncome" [(ngModel)]="monthlyIncome">
                </mat-slider>
                <div class="income-range">
                  <label class="small-label">&#8377;&nbsp;1,00,000</label>
                  <label class="small-label">&#8377;&nbsp;3,00,000</label>
                </div>
                <br>

                <label class="main-label">Monthly Expense</label>
                <label style="font-size: 20px; margin: 10px 0 -10px;">
                  {{monthlyExpense | currencyWithoutDecimal}}
                </label>
                <mat-slider color="primary" min="0" max="300000" step="10" aria-label="unit(s)" name="monthlyExpense"
                  (change)="updatedExpense()" [(ngModel)]="monthlyExpense"></mat-slider>
                <br>

                <label class="main-label">Repayment Tenure</label>
                <mat-form-field>
                  <mat-select [(value)]="repaymentTenure">
                    <mat-option value='every-month'>Every month</mat-option>
                    <mat-option value='quarterly'>Quarterly</mat-option>
                    <mat-option value='half-yearly'>Half Yearly</mat-option>
                    <mat-option value='yearly'>Yearly</mat-option>
                  </mat-select>
                </mat-form-field>
                <br>

                <div style="display: flex; margin-top: -10px;">
                  <label class="main-label">Do you have any existing loans?</label>
                  <mat-slide-toggle color="primary" class="toggle" (change)="updateLoan()" name="haveExistingLoan"
                    [(ngModel)]="haveExistingLoan"></mat-slide-toggle>
                </div>

                <br>
                <label class="main-label">EMI of existing loan (optional)</label>
                <div class="example-container">
                  <!-- <mat-form-field appearance="fill">
                    <input matInput type="number" class="example-right-align" placeholder="0" value="15,000" />
                    <span matPrefix>&#8377;&nbsp;</span>
                  </mat-form-field> -->

                  <input class="form-control" maxlength="8" placeholder="15000" [(ngModel)]="existingLoanAmount"
                    name="existingLoanAmount" numbersOnly />
                </div>
              </div>

            </form>
          </div>
        </div>

        <div class="outer-div">
          <div class="loan-amount">
            <div class="inner-div">
              <label>Loan Amount</label>
              <label class="amount">
                &#8377;&nbsp;1,00,000
              </label>

              <br>
              <br>
              <label>Your EMI will be</label>
              <label class="amount">
                &#8377;&nbsp;15,000
              </label>

              <br>
              <br>
              <button class="get-money-btn">GET MONEY</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <img class="dots-img-2" src="assets/accounting_dots.svg" alt="dots" />

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>